<p style="color: green"><%= notice %></p>
<div class="row">
  <%# <%= render @books %>
  <% @books.each do |book| %>
    <%= render partial: 'bookIn', locals: { book: book } %>
  <% end %>
</div>
<%= link_to "New book", new_book_path %>
